# Source
The sourcefor this data can be found on https://population.un.org/wpp/

In [27]:
#get the data by importing it.
import requests
dls = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_General/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx"
resp = requests.get(dls)

output = open('WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx', 'wb')
output.write(resp.content)
output.close()

In [28]:
output

In [29]:
import pandas as pd
pandasDF = pd.read_excel(io=file-like, engine='openpyxl', sheet_name = 'WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx')
pandasDF

NameError: name 'like' is not defined

In [30]:
pd.read_excel(open('WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx', 'rb'),
              sheet_name='Estimates',header=16)#.iloc[15:]

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,1,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
1,2,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
2,3,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
3,4,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
4,5,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,523.124,458.484,205.762,224.05,187.444,335.442,374.658,295.994,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20591,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20592,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20593,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20594,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20595,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [31]:
import yaml
with open('structure/estimate.yaml', 'r') as file:
    prime_service = yaml.safe_load(file)

In [32]:
prime_service

{'version': 3,
 'file_name': None,
 'source_url': 'https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_General/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx',
 'source_type': 'xlsx',
 'tables': [{'name': 'Country',
   'fields': ['Index',
    'Variant',
    'Region, subregion, country or area *',
    'Notes',
    'Location code',
    'ISO3 Alpha-code',
    'ISO2 Alpha-code',
    'SDMX code**',
    'Type',
    'Parent code',
    'Year']},
  {'name': 'Population',
   'fields': ['Index',
    'Total Population, as of 1 January (thousands)',
    'Total Population, as of 1 July (thousands)',
    'Male Population, as of 1 July (thousands)',
    'Female Population, as of 1 July (thousands)',
    'Population Density, as of 1 July (persons per square km)',
    'Population Sex Ratio, as of 1 July (males per 100 females)',
    'Median Age, as of 1 July (years)',
    'Natural Change, Births minus Deaths (thousands)',
    'Rate of Natural Change (per 1,000 population)',
    'Population Change (thousands)',
    'Population Growth Rate (percentage)',
    'Population Annual Doubling Time (years)']},
  {'name': 'Fertility',
   'fields': ['Index',
    'Births (thousands)',
    'Births by women aged 15 to 19 (thousands)',
    'Crude Birth Rate (births per 1,000 population)',
    'Total Fertility Rate (live births per woman)',
    'Net Reproduction Rate (surviving daughters per woman)',
    'Mean Age Childbearing (years)',
    'Sex Ratio at Birth (males per 100 female births)']},
  {'name': 'Mortality',
   'fields': ['Index',
    'Total Deaths (thousands)',
    'Male Deaths (thousands)',
    'Female Deaths (thousands)',
    'Crude Death Rate (deaths per 1,000 population)',
    'Life Expectancy at Birth, both sexes (years)',
    'Male Life Expectancy at Birth (years)',
    'Female Life Expectancy at Birth (years)',
    'Life Expectancy at Age 15, both sexes (years)',
    'Male Life Expectancy at Age 15 (years)',
    'Female Life Expectancy at Age 15 (years)',
    'Life Expectancy at Age 65, both sexes (years)',
    'Male Life Expectancy at Age 65 (years)',
    'Female Life Expectancy at Age 65 (years)',
    'Life Expectancy at Age 80, both sexes (years)',
    'Male Life Expectancy at Age 80 (years)',
    'Female Life Expectancy at Age 80 (years)',
    'Infant Deaths, under age 1 (thousands)',
    'Infant Mortality Rate (infant deaths per 1,000 live births)',
    'Live Births Surviving to Age 1 (thousands)',
    'Under-Five Deaths, under age 5 (thousands)',
    'Under-Five Mortality (deaths under age 5 per 1,000 live births)',
    'Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)',
    'Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)',
    'Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)',
    'Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)',
    'Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)',
    'Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)',
    'Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)',
    'Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)',
    'Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)',
    'Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)',
    'Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)',
    'Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)']},
  {'name': 'Migration',
   'fields': ['Index',
    'Net Number of Migrants (thousands)',
    'Net Migration Rate (per 1,000 population)']}]}

In [49]:
import yaml
with open('structure/estimate.yaml', 'r') as file:
    prime_service = yaml.safe_load(file)

In [53]:
import os
import psycopg2 
  
conn = psycopg2.connect( 
    database="portifolio_dwh", user='airflow',  
  password='airflow', host='localhost', port='5432'
) 
  
conn.autocommit = True
cursor = conn.cursor() 
  
sql_schema = f'''CREATE SCHEMA IF NOT EXISTS {file_info['destination_schema']}; '''
  
cursor.execute(sql_schema) 
  
directory = 'structure'
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        with open(f, 'r') as file:
            file_info = yaml.safe_load(file)
            if(file_info != None):
                schema = file_info['destination_schema']
                for each_table in file_info['tables']:
                    query = f'CREATE TABLE {schema}.{each_table["name"]}('
                    table_name = each_table['name']
                    for each_column in each_table['fields']:
                        query = query + f'{each_column["column_name"]} varchar,'
                    query = query[:-1] + ');'
                    cursor.execute(query) 
conn.commit() 
conn.close()

CREATE OR REPLACE TABLE world_population.country(c_index varchar,c_variant varchar,c_area varchar,c_notes varchar,c_location_code varchar,c_is03 varchar,c_is02 varchar,c_sdmx varchar,c_type varchar,c_parent_code varchar,c_yeah varchar);
CREATE OR REPLACE TABLE world_population.population(p_index varchar,p_total_Jan varchar,p_total_Jun varchar,p_male varchar,p_female varchar,p_density varchar,p_sex_ratio varchar,p_median_age varchar,p_natural_change varchar,p_rate_natural_change varchar,p_change varchar,p_growth_rate varchar,p_population_annual_doubling_time varchar);
CREATE OR REPLACE TABLE world_population.fertility(f_index varchar,f_births_thousands varchar,f_births_15_to_19 varchar,f_crude_birth_rate varchar,f_total_fertility_rate varchar,f_net_reproduction_rate varchar,f_mean_age_childbearing varchar,f_sex_ratio_at_birth varchar);
CREATE OR REPLACE TABLE world_population.mortality(m_index varchar,m_total_deaths varchar,m_male_deaths varchar,m_female_deaths varchar,m_crude_death_rate varchar,m_life_expectancy_at_birth_both_sexes varchar,m_male_life_expectancy_at_birth varchar,m_female_life_expectancy_at_birth varchar,m_life_expectancy_at_age_15_both_sexes varchar,m_male_life_expectancy_at_age_15 varchar,m_female_life_expectancy_at_age_15 varchar,m_life_expectancy_at_age_65_both_sexes varchar,m_male_life_expectancy_at_age_65 varchar,m_female_life_expectancy_at_age_65 varchar,m_life_expectancy_at_age_80_both_sexes varchar,m_male_life_expectancy_at_age_80 varchar,m_female_life_expectancy_at_age_80 varchar,m_infant_deaths_under_age_1 varchar,m_infant_mortality_rate varchar,m_live_births_surviving_age_1 varchar,m_death_under_age_5 varchar,m_death_under_age_5_per_thousand_live_births varchar,m_death_before_age_40_both_sexes varchar,m_male_death_before_age_40 varchar,m_female_death_before_age_40 varchar,m_death_before_age_60_both_sexes varchar,m_male_death_before_age_60 varchar,m_female_death_before_age_60 varchar,m_between_15_and_50_both_sexes varchar,m_male_between_15_and_50 varchar,m_female_between_15_and_50 varchar,m_between_15_and_60_both_sexes varchar,m_male_between_15_and_60 varchar,m_female_between_15_and_60 varchar);
CREATE OR REPLACE TABLE world_population.migration(mi_index varchar,mi_net_number_of_migrants varchar,mi_net_migration_rate varchar);

In [55]:
import psycopg2 
  
conn = psycopg2.connect( 
    database="portifolio_dwh", user='airflow',  
  password='airflow', host='localhost', port='5432'
) 
  
conn.autocommit = True
cursor = conn.cursor() 
  
sql_schema = f'''CREATE SCHEMA IF NOT EXISTS {file_info['destination_schema']}; '''
  
cursor.execute(sql_schema) 
  
conn.commit() 
conn.close()