# Source
The sourcefor this data can be found on https://population.un.org/wpp/

In [3]:
#get the data by importing it.
import requests
dls = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_General/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx"
resp = requests.get(dls)

output = open('data/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx', 'wb')
output.write(resp.content)
output.close()

In [2]:
output

In [29]:
import pandas as pd
pandasDF = pd.read_excel(io=file-like, engine='openpyxl', sheet_name = 'WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx')
pandasDF

NameError: name 'like' is not defined

In [30]:
pd.read_excel(open('WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx', 'rb'),
              sheet_name='Estimates',header=16)#.iloc[15:]

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,1,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
1,2,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
2,3,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
3,4,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
4,5,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,523.124,458.484,205.762,224.05,187.444,335.442,374.658,295.994,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20591,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20592,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20593,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20594,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20595,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [60]:
import yaml
with open('structure/yamls/estimate.yaml', 'r') as file:
    prime_service = yaml.safe_load(file)

FileNotFoundError: [Errno 2] No such file or directory: 'structure/estimate.yaml'

In [32]:
prime_service

{'version': 3,
 'file_name': None,
 'source_url': 'https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_General/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx',
 'source_type': 'xlsx',
 'tables': [{'name': 'Country',
   'fields': ['Index',
    'Variant',
    'Region, subregion, country or area *',
    'Notes',
    'Location code',
    'ISO3 Alpha-code',
    'ISO2 Alpha-code',
    'SDMX code**',
    'Type',
    'Parent code',
    'Year']},
  {'name': 'Population',
   'fields': ['Index',
    'Total Population, as of 1 January (thousands)',
    'Total Population, as of 1 July (thousands)',
    'Male Population, as of 1 July (thousands)',
    'Female Population, as of 1 July (thousands)',
    'Population Density, as of 1 July (persons per square km)',
    'Population Sex Ratio, as of 1 July (males per 100 females)',
    'Median Age, as of 1 July (years)',
    'Natural Change, Births minus Deaths (thousands)',
    'Rate of Natural Change (per 1,000 population)',
    'Population Change (thousands)',
    'Population Growth Rate (percentage)',
    'Population Annual Doubling Time (years)']},
  {'name': 'Fertility',
   'fields': ['Index',
    'Births (thousands)',
    'Births by women aged 15 to 19 (thousands)',
    'Crude Birth Rate (births per 1,000 population)',
    'Total Fertility Rate (live births per woman)',
    'Net Reproduction Rate (surviving daughters per woman)',
    'Mean Age Childbearing (years)',
    'Sex Ratio at Birth (males per 100 female births)']},
  {'name': 'Mortality',
   'fields': ['Index',
    'Total Deaths (thousands)',
    'Male Deaths (thousands)',
    'Female Deaths (thousands)',
    'Crude Death Rate (deaths per 1,000 population)',
    'Life Expectancy at Birth, both sexes (years)',
    'Male Life Expectancy at Birth (years)',
    'Female Life Expectancy at Birth (years)',
    'Life Expectancy at Age 15, both sexes (years)',
    'Male Life Expectancy at Age 15 (years)',
    'Female Life Expectancy at Age 15 (years)',
    'Life Expectancy at Age 65, both sexes (years)',
    'Male Life Expectancy at Age 65 (years)',
    'Female Life Expectancy at Age 65 (years)',
    'Life Expectancy at Age 80, both sexes (years)',
    'Male Life Expectancy at Age 80 (years)',
    'Female Life Expectancy at Age 80 (years)',
    'Infant Deaths, under age 1 (thousands)',
    'Infant Mortality Rate (infant deaths per 1,000 live births)',
    'Live Births Surviving to Age 1 (thousands)',
    'Under-Five Deaths, under age 5 (thousands)',
    'Under-Five Mortality (deaths under age 5 per 1,000 live births)',
    'Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)',
    'Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)',
    'Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)',
    'Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)',
    'Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)',
    'Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)',
    'Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)',
    'Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)',
    'Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)',
    'Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)',
    'Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)',
    'Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)']},
  {'name': 'Migration',
   'fields': ['Index',
    'Net Number of Migrants (thousands)',
    'Net Migration Rate (per 1,000 population)']}]}

In [49]:
import yaml
with open('structure/estimate.yaml', 'r') as file:
    prime_service = yaml.safe_load(file)

In [53]:
import os
import psycopg2 
  
conn = psycopg2.connect( 
    database="portifolio_dwh", user='airflow',  
  password='airflow', host='localhost', port='5432'
) 
  
conn.autocommit = True
cursor = conn.cursor() 
  
sql_schema = f'''CREATE SCHEMA IF NOT EXISTS {file_info['destination_schema']}; '''
  
cursor.execute(sql_schema) 
  
directory = 'structure'
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        with open(f, 'r') as file:
            file_info = yaml.safe_load(file)
            if(file_info != None):
                schema = file_info['destination_schema']
                for each_table in file_info['tables']:
                    query = f'CREATE TABLE {schema}.{each_table["name"]}('
                    table_name = each_table['name']
                    for each_column in each_table['fields']:
                        query = query + f'{each_column["column_name"]} varchar,'
                    query = query[:-1] + ');'
                    cursor.execute(query) 
conn.commit() 
conn.close()

CREATE OR REPLACE TABLE world_population.country(c_index varchar,c_variant varchar,c_area varchar,c_notes varchar,c_location_code varchar,c_is03 varchar,c_is02 varchar,c_sdmx varchar,c_type varchar,c_parent_code varchar,c_yeah varchar);
CREATE OR REPLACE TABLE world_population.population(p_index varchar,p_total_Jan varchar,p_total_Jun varchar,p_male varchar,p_female varchar,p_density varchar,p_sex_ratio varchar,p_median_age varchar,p_natural_change varchar,p_rate_natural_change varchar,p_change varchar,p_growth_rate varchar,p_population_annual_doubling_time varchar);
CREATE OR REPLACE TABLE world_population.fertility(f_index varchar,f_births_thousands varchar,f_births_15_to_19 varchar,f_crude_birth_rate varchar,f_total_fertility_rate varchar,f_net_reproduction_rate varchar,f_mean_age_childbearing varchar,f_sex_ratio_at_birth varchar);
CREATE OR REPLACE TABLE world_population.mortality(m_index varchar,m_total_deaths varchar,m_male_deaths varchar,m_female_deaths varchar,m_crude_death_rate varchar,m_life_expectancy_at_birth_both_sexes varchar,m_male_life_expectancy_at_birth varchar,m_female_life_expectancy_at_birth varchar,m_life_expectancy_at_age_15_both_sexes varchar,m_male_life_expectancy_at_age_15 varchar,m_female_life_expectancy_at_age_15 varchar,m_life_expectancy_at_age_65_both_sexes varchar,m_male_life_expectancy_at_age_65 varchar,m_female_life_expectancy_at_age_65 varchar,m_life_expectancy_at_age_80_both_sexes varchar,m_male_life_expectancy_at_age_80 varchar,m_female_life_expectancy_at_age_80 varchar,m_infant_deaths_under_age_1 varchar,m_infant_mortality_rate varchar,m_live_births_surviving_age_1 varchar,m_death_under_age_5 varchar,m_death_under_age_5_per_thousand_live_births varchar,m_death_before_age_40_both_sexes varchar,m_male_death_before_age_40 varchar,m_female_death_before_age_40 varchar,m_death_before_age_60_both_sexes varchar,m_male_death_before_age_60 varchar,m_female_death_before_age_60 varchar,m_between_15_and_50_both_sexes varchar,m_male_between_15_and_50 varchar,m_female_between_15_and_50 varchar,m_between_15_and_60_both_sexes varchar,m_male_between_15_and_60 varchar,m_female_between_15_and_60 varchar);
CREATE OR REPLACE TABLE world_population.migration(mi_index varchar,mi_net_number_of_migrants varchar,mi_net_migration_rate varchar);

In [55]:
import psycopg2 
  
conn = psycopg2.connect( 
    database="portifolio_dwh", user='portfolio',  
  password='portfolio', host='localhost', port='5433'
) 
  
conn.autocommit = True
cursor = conn.cursor() 
  
sql_schema = f'''CREATE SCHEMA IF NOT EXISTS {file_info['destination_schema']}; '''
  
cursor.execute(sql_schema) 
  
conn.commit() 
conn.close()

In [13]:
import boto3
import pandas as pd
import requests
from datetime import datetime, timedelta

def export_excel_file(text:str):
    """
    Test if dag works on new structure

    Parameters
    ----------
    text : string
        string to test result.
    """
    print('Start of export')
    url = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_General/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx"
    # resp = requests.get(url)
    # print(f"request success: {resp}")
    # output = open('WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx', 'wb')
    # output.write(resp.content)
    # output.close()
    # print(output)
    print('call function')
    time = datetime.now()
    import_excel_to_s3(url,'world-population-timna-portifolio',
    f'{time.year}/{time.month}/{time.day}/world_population_{time.year}_{time.month}_{time.day}.xlsx')
    print("End of export")

def import_excel_to_s3(url, bucket_name, object_key):
    """Imports an Excel file from the internet into an S3 bucket.

    Args:
    url: The URL of the Excel file.
    bucket_name: The name of the S3 bucket.
    object_key: The key of the object in the S3 bucket.
    """
    print('Start of export')
    # Create an S3 client.
    s3 = boto3.client('s3')
    print(s3)
    # Download the Excel file.
    response = requests.get(url)
    print(response)
    # Upload the Excel file to S3.
    s3.put_object(Bucket=bucket_name, Key=object_key, Body=response.content)

    # Example usage:

    # url = 'https://example.com/my_excel_file.xlsx'
    # bucket_name = 'my-s3-bucket'
    # object_key = 'my_excel_file.xlsx'

    # import_excel_to_s3(url, bucket_name, object_key)


export_excel_file('hi')

Start of export
call function
Start of export
<botocore.client.S3 object at 0x7f9d785b7f50>
<Response [200]>
End of export

###

In [28]:
def read_from_s3_to_pd(bucket_name, object_key):
    s3 = boto3.client('s3')
    s3.
    path=f's3://{bucket_name}/{object_key}'
    
    print(s3)
#   response = s3.get_object(Bucket=bucket_name, Key=object_key)
#   print(response)
    df = pd.read_excel(path)
#   df = pd.read_csv(f's3://{bucket_name}/{object_key}')
    print(df)

def load_into_postgres():
  print('Start of Load')
  time = datetime.now()
  read_from_s3_to_pd('world-population-timna-portifolio',
  f'{time.year}/{time.month}/{time.day}/world_population_{time.year}_{time.month}_{time.day}.xlsx')
  print("End of Load")
load_into_postgres()

Start of Load
<botocore.client.S3 object at 0x7f9d60feff10>

PermissionError: Forbidden

In [47]:
s3 = boto3.client('s3')
response = s3.list_objects(Bucket='world-population-timna-portifolio')
print(response['Contents'])

[{'Key': '2023/10/23/world_population_2023_10_23.xlsx', 'LastModified': datetime.datetime(2023, 10, 23, 15, 53, 26, tzinfo=tzutc()), 'ETag': '"39d5e075c5b22081659baa91f57f4d63"', 'Size': 97700806, 'StorageClass': 'STANDARD', 'Owner': {'DisplayName': 'timnaaversa', 'ID': '51e0984b62ec02b8f96242d4adbc8e0b9497cdb53753e986e04feaf4b23b7fb2'}}]

In [48]:
response = s3.get_object(Bucket='world-population-timna-portifolio', Key='2023/10/23/world_population_2023_10_23.xlsx')
print(response['Body'].read())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [31]:
import psycopg2
from sqlalchemy import create_engine
def postgres_conn():
    # postgresql+psycopg2://scott:tiger@localhost:5432/mydatabase
    conn_string = 'postgresql+psycopg2://portfolio:portfolio@localhost:5433/portifolio_dwh'

    db = create_engine(conn_string) 
    conn = db.connect() 
    return conn

In [40]:
import boto3
import pandas as pd
from botocore.exceptions import ClientError
import requests
region_name = 'eu-west-1'
bucket='world-population-timna-portifolio'
key = '2023/11/1/world_population_2023_11_1.xlsx'
s3 = boto3.client("s3")
print(s3)
try:
    res = s3.get_object(Bucket=bucket, Key=key)
except ClientError as e:
    if e.response["Error"]["Code"] == "NoSuchKey":
        file_data = None
        print('No Such Key Found')
    else:
        raise
else:
    file_data = res["Body"].read()

df = pd.read_excel(file_data,sheet_name='Estimates',header=16)

<botocore.client.S3 object at 0x7f8149344790>

In [50]:
def clean_df_field_names(df):
    df.columns = df.columns.str.replace(' ', '_')
    df.columns = df.columns.str.replace('-', '_')
    df.columns = df.columns.str.replace('(', '')
    df.columns = df.columns.str.replace(')', '')
    df.columns = df.columns.str.replace(',', '')
    return df
import psycopg2.extras as extras 
conn = psycopg2.connect('postgresql://portfolio:portfolio@localhost:5433/portifolio_dwh') 
def execute_values(conn, df, table): 
    df = clean_df_field_names(df)
    tuples = [tuple(x) for x in df.to_numpy()] 
  
    cols = ','.join(list(df.columns)) 
    # SQL query to execute 
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols) 
    cursor = conn.cursor() 
    try: 
        extras.execute_values(cursor, query, tuples) 
        conn.commit() 
    except (Exception, psycopg2.DatabaseError) as error: 
        print("Error: %s" % error) 
        conn.rollback() 
        cursor.close() 
        return 1
    print("the dataframe is inserted") 
    cursor.close() 

execute_values(conn, df, 'world_population.all')
  
# df.to_sql('data', con=conn, if_exists='replace',index=False) 
# conn.autocommit = True
# cursor = conn.cursor() 
  
# sql1 = '''select * from data;'''
# cursor.execute(sql1) 
# for i in cursor.fetchall(): 
#     print(i) 
  
# conn.commit() 
# conn.close()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys

Error: relation "world_population.all" does not exist
LINE 1: INSERT INTO world_population.all(Index,Variant,Region_subreg...
                    ^

1

In [45]:
df.columns = df.columns.str.replace(' ', '_')
df

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,Index,Variant,"Region,_subregion,_country_or_area_",Notes,Location_code,ISO3_Alpha-code,ISO2_Alpha-code,SDMX_code,Type,Parent_code,...,"Male_Mortality_before_Age_60_(deaths_under_age_60_per_1,000_male_live_births)","Female_Mortality_before_Age_60_(deaths_under_age_60_per_1,000_female_live_births)","Mortality_between_Age_15_and_50,_both_sexes_(deaths_under_age_50_per_1,000_alive_at_age_15)","Male_Mortality_between_Age_15_and_50_(deaths_under_age_50_per_1,000_males_alive_at_age_15)","Female_Mortality_between_Age_15_and_50_(deaths_under_age_50_per_1,000_females_alive_at_age_15)","Mortality_between_Age_15_and_60,_both_sexes_(deaths_under_age_60_per_1,000_alive_at_age_15)","Male_Mortality_between_Age_15_and_60_(deaths_under_age_60_per_1,000_males_alive_at_age_15)","Female_Mortality_between_Age_15_and_60_(deaths_under_age_60_per_1,000_females_alive_at_age_15)",Net_Number_of_Migrants_(thousands),"Net_Migration_Rate_(per_1,000_population)"
0,1,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
1,2,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
2,3,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
3,4,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
4,5,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,523.124,458.484,205.762,224.05,187.444,335.442,374.658,295.994,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20591,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20592,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20593,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20594,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20595,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112

In [43]:
df.index.names

FrozenList([None])

In [61]:
import pandas as pd
import psycopg2
import yaml

POSTGRES_PASSWORD = 'portfolio'
POSTGRES_USER = 'portfolio'
POSTGRES_DB = 'portifolio_dwh'
POSTGRES_HOST = 'localhost'
POSTGRES_PORT = 5433

with open('structure/yamls/estimate.yaml', 'r') as file:
    prime_service = yaml.safe_load(file)
print(prime_service['tables'])
# Create a connection to the PostgreSQL database.
conn = psycopg2.connect(host=POSTGRES_HOST, database=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PASSWORD, port =POSTGRES_PORT)

# Create a cursor object.
cur = conn.cursor()
print(cur)
# Construct the SQL query to insert the data into the database.
# sql = 'INSERT INTO my_table (name, age) VALUES (%s, %s)'

# # Execute the SQL query using the cursor object.
# cur.executemany(sql, df[['name', 'age']].values)

# Close the cursor object and the connection to the database.
cur.close()
conn.close()

FileNotFoundError: [Errno 2] No such file or directory: 'structure/yamls/estimate.yaml'

In [58]:
import os
USER = os.getenv('AWS_SECRET_ACCESS_KEY')
USER
("s3", region_name=region_name,aws_secret_access_key='JleX3s03+yb5sy+Bi27Q119Yc9PGc0ZWvlzqkSHR',aws_access_key_id='AKIATP4HXHU3AOHILFOD')

In [22]:
import pyspark
from pyspark.sql import SparkSession

def get_spark_session(appName = "Word Count"):
    spark = SparkSession.builder.appName(appName).master("local[*]").config("spark.driver.bindAddress", "127.0.0.1").getOrCreate()

    spark._jsc.hadoopConfiguration().set("fs.s3a.access.key", "AKIATP4HXHU3AOHILFOD")
    spark._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "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")
    spark._jsc.hadoopConfiguration().set("fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem")
    spark._jsc.hadoopConfiguration().set("com.amazonaws.services.s3.enableV4", "true")
    spark._jsc.hadoopConfiguration().set("fs.s3a.aws.credentials.provider","org.apache.hadoop.fs.s3a.BasicAWSCredentialsProvider")
    spark._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "eu-west-1.amazonaws.com")
    return spark
spark = get_spark_session()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f81704af610>

In [18]:
# spark.read.format('csv').options(header='true', inferSchema='true')
#     .load('s3a://sparkbyexamples/csv/zipcodes.csv')
region_name = 'eu-west-1'
bucket='world-population-timna-portifolio'
key = '2023/10/23/world_population_2023_10_23.xlsx'
csvDf = spark.read.csv("s3://world-population-timna-portifolio/2023/11/1/world_population_2023_11_1.xlsx")
# jsonDf = spark.read.json("s3a://path/to/files/*.json")
csvDf.show(n=10)

Py4JJavaError: An error occurred while calling o157.csv.
: java.util.ServiceConfigurationError: org.apache.spark.sql.sources.DataSourceRegister: Error reading configuration file
	at java.util.ServiceLoader.fail(ServiceLoader.java:232)
	at java.util.ServiceLoader.parse(ServiceLoader.java:309)
	at java.util.ServiceLoader.access$200(ServiceLoader.java:185)
	at java.util.ServiceLoader$LazyIterator.hasNextService(ServiceLoader.java:357)
	at java.util.ServiceLoader$LazyIterator.hasNext(ServiceLoader.java:393)
	at java.util.ServiceLoader$1.hasNext(ServiceLoader.java:474)
	at scala.collection.convert.Wrappers$JIteratorWrapper.hasNext(Wrappers.scala:45)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at scala.collection.TraversableLike.filterImpl(TraversableLike.scala:303)
	at scala.collection.TraversableLike.filterImpl$(TraversableLike.scala:297)
	at scala.collection.AbstractTraversable.filterImpl(Traversable.scala:108)
	at scala.collection.TraversableLike.filter(TraversableLike.scala:395)
	at scala.collection.TraversableLike.filter$(TraversableLike.scala:395)
	at scala.collection.AbstractTraversable.filter(Traversable.scala:108)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:629)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSourceV2(DataSource.scala:697)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:208)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:538)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.io.FileNotFoundException: /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pyspark/jars/spark-sql_2.12-3.4.0.jar (No such file or directory)
	at java.util.zip.ZipFile.open(Native Method)
	at java.util.zip.ZipFile.<init>(ZipFile.java:231)
	at java.util.zip.ZipFile.<init>(ZipFile.java:156)
	at java.util.jar.JarFile.<init>(JarFile.java:170)
	at java.util.jar.JarFile.<init>(JarFile.java:107)
	at sun.net.www.protocol.jar.URLJarFile.<init>(URLJarFile.java:93)
	at sun.net.www.protocol.jar.URLJarFile.getJarFile(URLJarFile.java:69)
	at sun.net.www.protocol.jar.JarFileFactory.getOrCreate(JarFileFactory.java:115)
	at sun.net.www.protocol.jar.JarURLConnection.connect(JarURLConnection.java:129)
	at sun.net.www.protocol.jar.JarURLConnection.getInputStream(JarURLConnection.java:172)
	at java.net.URL.openStream(URL.java:1092)
	at java.util.ServiceLoader.parse(ServiceLoader.java:304)
	... 33 more