# Source
The sourcefor this data can be found on https://population.un.org/wpp/

In [1]:
#get the data by importing it.
import requests
dls = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_General/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx"
resp = requests.get(dls)

output = open('data/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx', 'wb')
output.write(resp.content)
output.close()

In [2]:
output

In [8]:
import pandas as pd
pandasDF = pd.read_excel(io=file-like, engine='openpyxl', sheet_name = 'data/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx')
pandasDF

NameError: name 'file' is not defined

In [16]:
pd.read_excel(open('WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_REV1.xlsx', 'rb'),
              sheet_name='Estimates',header=16)#.iloc[15:]

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,1,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,580.75,498.04,240.316,271.625,208.192,378.697,430.259,324.931,0,0
1,2,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,566.728,490.199,231.177,258.09,203.78,368.319,415.836,319.336,0,0
2,3,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,546.317,477.264,218.674,240.034,197.142,353.055,395.533,309.91,0,0
3,4,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,535.829,469.532,212.872,232.602,193.049,345.083,385.843,303.905,0,0
4,5,Estimates,WORLD,NaN,900,NaN,NaN,1.0,World,0,...,523.124,458.484,205.762,224.05,187.444,335.442,374.658,295.994,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20591,20592,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,92.066,102.718,30.643,26.781,33.892,82.852,82.197,83.32,-0.201,-16.706
20592,20593,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,99.196,89.345,29.201,29.159,29.17,79.633,88.556,72.163,-0.171,-14.368
20593,20594,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,77.781,80.136,24.304,22.291,25.981,66.639,69.324,64.496,-0.171,-14.489
20594,20595,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,85.608,86.364,26.572,24.691,28.127,72.73,76.411,69.685,-0.083,-7.096
20595,20596,Estimates,Wallis and Futuna Islands,2,876,WLF,WF,876.0,Country/Area,957,...,89.321,84.68,25.848,24.836,26.644,74.207,80.373,68.905,-0.083,-7.112